<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1vGNvL8Adkw59DG0Khe-8e2HlkdCkX0g</string>
	<key>GCM_SENDER_ID</key>
	<string>314699069761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutriFit</string>
	<key>PROJECT_ID</key>
	<string>nutrifit-project</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrifit-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314699069761:ios:b7f6c3c29177cc718e49c0</string>
</dict>
</plist>